### Change the stacked column to a pivot table for gene expression analysis

rerun on 2021-12-07 after correcting for salinity of media samples

In [21]:
import pandas as pd
from pandas import DataFrame
import os
import sys
import csv
from pathlib import Path
import seaborn as sns
sns.set()
import numpy as np
from scipy import stats
import matplotlib
import matplotlib.pyplot as plt
plt.show()
from collections import defaultdict
import os.path as op
import glob

os.chdir('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/')
outdir='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/O2_consumption/'
matplotlib.__version__

'3.3.3'

In [22]:

transcript_data=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/O2_consumption/All_GoM_RNA_seq_transcripts_per_cell_by_genus_and_function_stacked_weighted_avg_O2_consumed_ALL_genes_all_Genus.csv',
                            index_col=0)

transcript_data=transcript_data.drop_duplicates()

transcript_pivot=transcript_data.pivot(index=['genus','date'], values='transcripts_per_cell', columns='ko')
transcript_pivot.to_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GORG_recruitment/RNA_summaries/All_GoM_RNA_seq_transcripts_per_cell_by_genus_and_KO.csv')

transcript_pivot
#transcript_data

ko                          K00003  K00005  K00007  K00009  K00010    K00012  \
genus           date
AAA164-E04      20171102  0.250251     NaN     NaN     NaN     0.0  0.000000
                20181030       NaN     NaN     NaN     NaN     NaN       NaN
                20190402       NaN     NaN     NaN     NaN     NaN  0.280539
                20190709       NaN     NaN     NaN     NaN     NaN       NaN
AAA536-G10      20171102  0.084435     NaN     NaN     NaN     NaN  0.024124
...                            ...     ...     ...     ...     ...       ...
Winogradskyella 20190709       NaN     NaN     NaN     NaN     NaN  0.066819
Yoonia          20171102       NaN     NaN     NaN     NaN     NaN       NaN
                20181030       NaN     NaN     NaN     NaN     NaN       NaN
                20190402  0.040045     NaN     NaN     NaN     NaN       NaN
                20190709       NaN     NaN     NaN     NaN     NaN       NaN

ko                          K00013    K00014    K00015  K00016  ...  K24157  \
genus           date                                            ...
AAA164-E04      20171102  0.000000  0.000000       NaN     NaN  ...     NaN
                20181030       NaN  0.000000       NaN     NaN  ...     NaN
                20190402       NaN       NaN       NaN     NaN  ...     NaN
                20190709       NaN       NaN       NaN     NaN  ...     NaN
AAA536-G10      20171102  0.072373  0.060311       NaN     NaN  ...     NaN
...                            ...       ...       ...     ...  ...     ...
Winogradskyella 20190709       NaN       NaN       NaN     NaN  ...     NaN
Yoonia          20171102       NaN       NaN       NaN     NaN  ...     NaN
                20181030       NaN       NaN       NaN     NaN  ...     NaN
                20190402       NaN  0.024027  0.008009     NaN  ...     NaN
                20190709       NaN       NaN       NaN     NaN  ...     NaN

ko                        K24158  K24163  K24180  K24194  K24200  K24204  \
genus           date
AAA164-E04      20171102     NaN     NaN     NaN     NaN     NaN     NaN
                20181030     NaN     NaN     NaN     NaN     NaN     NaN
                20190402     NaN     NaN     NaN     NaN     NaN     NaN
                20190709     NaN     NaN     NaN     NaN     NaN     NaN
AAA536-G10      20171102     NaN     NaN     NaN     NaN     NaN     NaN
...                          ...     ...     ...     ...     ...     ...
Winogradskyella 20190709     NaN     NaN     NaN     NaN     NaN     NaN
Yoonia          20171102     0.0     NaN     NaN     NaN     NaN     NaN
                20181030     NaN     NaN     NaN     NaN     NaN     NaN
                20190402     NaN     NaN     NaN     NaN     NaN     NaN
                20190709     NaN     NaN     NaN     NaN     NaN     NaN

ko                        K24217  K24288  K24291
genus           date
AAA164-E04      20171102     NaN     NaN     NaN
                20181030     NaN     NaN     NaN
                20190402     NaN     NaN     NaN
                20190709     NaN     NaN     NaN
AAA536-G10      20171102     NaN     NaN     NaN
...                          ...     ...     ...
Winogradskyella 20190709     NaN     NaN     NaN
Yoonia          20171102     NaN     NaN     NaN
                20181030     NaN     NaN     NaN
                20190402     NaN     NaN     NaN
                20190709     NaN     NaN     NaN

[660 rows x 4497 columns]

In [23]:
O2_data=transcript_data[['genus', 'date', 'Weighted_avg_O2_consumed_per_cell']]
O2_data=O2_data.drop_duplicates()

O2_data

                   genus      date  Weighted_avg_O2_consumed_per_cell
0           Unclassified  20171102                          23.337911
2643              LFER01  20171102                           0.002330
3987     Akkermansiaceae  20171102                           0.002330
4497              SHLJ01  20171102                           0.002330
5015             UBA4582  20171102                           0.002330
...                  ...       ...                                ...
254987     GCA-002724395  20190709                           0.001999
255115  Nitrosopelagicus  20190709                           0.001999
255158     Sulfitobacter  20190709                           0.001999
255312           UBA1096  20190709                           0.001999
255324           UBA1611  20190709                           0.001999

[660 rows x 3 columns]

In [24]:
master_data=transcript_pivot.merge(O2_data, on=['genus', 'date'])

master_data

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,K24158,K24163,K24180,K24194,K24200,K24204,K24217,K24288,K24291,Weighted_avg_O2_consumed_per_cell
0,AAA164-E04,20171102,0.250251,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002330
1,AAA164-E04,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002050
2,AAA164-E04,20190402,NaN,NaN,NaN,NaN,NaN,0.280539,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002101
3,AAA164-E04,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001999
4,AAA536-G10,20171102,0.084435,NaN,NaN,NaN,NaN,0.024124,0.072373,0.060311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,Winogradskyella,20190709,NaN,NaN,NaN,NaN,NaN,0.066819,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001999
656,Yoonia,20171102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002330
657,Yoonia,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002050
658,Yoonia,20190402,0.040045,NaN,NaN,NaN,NaN,NaN,NaN,0.024027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002101
659,Yoonia,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001999

In [25]:
columns=['name', 'final_assembly_length', 'gc_content', 'estimated_diameter', 'Sample_collection_Date', 'gate',
         'GTDB_classification', 'checkM_estimated_completeness', 'total_CDS_count', 'hypothetical_cds_fraction']

SAG_data=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/All_GoM_SAGs_1cell_20kb_decon_531normalized_predresp_rate_GTDBclass.csv', 
                     usecols=columns)
SAG_data.head()

SAG_data['total_estimated_genome_length']=SAG_data['final_assembly_length']/(SAG_data['checkM_estimated_completeness']/100)

SAG_data['total_estimated_genome_length']=SAG_data['total_estimated_genome_length'].replace(np.inf, np.nan)
SAG_data

,name,final_assembly_length,gc_content,checkM_estimated_completeness,total_CDS_count,hypothetical_cds_fraction,estimated_diameter,Sample_collection_Date,gate,GTDB_classification,total_estimated_genome_length
0,AH-135-A01,378833,29.810761,22.64,390.0,0.241026,0.31,170412,Respiring cells (RSG-positive),Pelagibacter,1.673291e+06
1,AH-135-A02,1800737,36.025194,86.23,1622.0,0.332306,0.32,170412,Respiring cells (RSG-positive),Hel1-33-131,2.088295e+06
2,AH-135-A03,856845,32.011857,74.13,919.0,0.228509,0.31,170412,Respiring cells (RSG-positive),IMCC9063,1.155868e+06
3,AH-135-A04,1481697,36.515900,83.69,1467.0,0.194274,0.34,170412,Respiring cells (RSG-positive),Thioglobus,1.770459e+06
4,AH-135-A05,382026,34.990812,19.18,400.0,0.275000,0.31,170412,Respiring cells (RSG-positive),SCGC-AAA076-P13,1.991794e+06
...,...,...,...,...,...,...,...,...,...,...,...
5845,AH-273-P18,1350893,29.358432,67.28,1262.0,0.353407,0.41,171102,All prokaryotes (SYTO-9-positive),MAG-121220-bin8,2.007867e+06
5846,AH-273-P19,1073725,34.482293,55.29,1015.0,0.353695,0.34,171102,All prokaryotes (SYTO-9-positive),UBA3537,1.941988e+06
5847,AH-273-P20,1000803,29.565959,80.98,1045.0,0.222967,0.23,171102,All prokaryotes (SYTO-9-positive),Pelagibacter_A,1.235864e+06
5848,AH-273-P22,316565,29.359215,20.13,348.0,0.247126,0.25,171102,All prokaryotes (SYTO-9-positive),Pelagibacter,1.572603e+06
5849,AH-273-P23,687710,37.752541,36.21,676.0,0.226331,0.27,171102,All prokaryotes (SYTO-9-positive),D2472,1.899227e+06

In [26]:
GEN_pivot=pd.pivot_table(SAG_data, index='GTDB_classification', aggfunc=np.mean, values=['gc_content', 'hypothetical_cds_fraction',])
GEN_pivot=GEN_pivot.rename(columns={'gc_content':'Average_gc_content',
                                   'hypothetical_cds_fraction':'Average_hypothetical_cds_fraction'})
GEN_pivot

                     Average_gc_content  Average_hypothetical_cds_fraction
GTDB_classification
2-01-FULL-41-14               39.976926                           0.258503
AAA164-E04                    47.554405                           0.485247
AAA536-G10                    31.655487                           0.244558
AG-337-I02                    30.337828                           0.220176
AG-339-G14                    33.715399                           0.204380
...                                 ...                                ...
Vibrio                        41.909604                           0.206679
Vicingaceae                   36.172922                           0.408316
Winogradskyella               33.482789                           0.415061
Yoonia                        54.596705                           0.358001
ZODW24                        57.607054                                NaN

[303 rows x 2 columns]

In [27]:
size_pivot=pd.pivot_table(SAG_data, index='GTDB_classification', aggfunc=np.median, values='estimated_diameter')
size_pivot=size_pivot.rename(columns={'estimated_diameter':'median_estimated_diameter'})
size_pivot

                     median_estimated_diameter
GTDB_classification
2-01-FULL-41-14                          0.350
AAA164-E04                               1.060
AAA536-G10                               0.550
AG-337-I02                               0.405
AG-339-G14                               0.330
...                                        ...
Vibrio                                   1.180
Vicingaceae                              0.630
Winogradskyella                          0.890
Yoonia                                   0.860
ZODW24                                   0.710

[303 rows x 1 columns]

In [28]:
GEN_pivot=GEN_pivot.merge(size_pivot, how='left', on='GTDB_classification')
GEN_pivot

,Average_gc_content,Average_hypothetical_cds_fraction,median_estimated_diameter
GTDB_classification,,,
2-01-FULL-41-14,39.976926,0.258503,0.350
AAA164-E04,47.554405,0.485247,1.060
AAA536-G10,31.655487,0.244558,0.550
AG-337-I02,30.337828,0.220176,0.405
AG-339-G14,33.715399,0.204380,0.330
...,...,...,...
Vibrio,41.909604,0.206679,1.180
Vicingaceae,36.172922,0.408316,0.630
Winogradskyella,33.482789,0.415061,0.890
Yoonia,54.596705,0.358001,0.860
ZODW24,57.607054,NaN,0.710

In [29]:
fiftyperc_GENs=SAG_data.loc[SAG_data['checkM_estimated_completeness'] >= 50]
fiftyperc_GENs
fiftyperc_GEN_pivot=pd.pivot_table(SAG_data, index='GTDB_classification', aggfunc=np.mean, values='total_estimated_genome_length')
fiftyperc_GEN_pivot=fiftyperc_GEN_pivot.rename(columns={'total_estimated_genome_length':'mean_estimated_genome_length'})
fiftyperc_GEN_pivot

                     mean_estimated_genome_length
GTDB_classification
2-01-FULL-41-14                      1.254385e+06
AAA164-E04                           5.870149e+06
AAA536-G10                           2.697551e+06
AG-337-I02                           2.095484e+06
AG-339-G14                           1.781418e+06
...                                           ...
Vibrio                               4.803806e+06
Vicingaceae                          2.516277e+06
Winogradskyella                      3.568247e+06
Yoonia                               4.369587e+06
ZODW24                               3.014321e+06

[302 rows x 1 columns]

In [30]:
GEN_pivot=GEN_pivot.merge(fiftyperc_GEN_pivot, how='left', on='GTDB_classification')
GEN_pivot

,Average_gc_content,Average_hypothetical_cds_fraction,median_estimated_diameter,mean_estimated_genome_length
GTDB_classification,,,,
2-01-FULL-41-14,39.976926,0.258503,0.350,1.254385e+06
AAA164-E04,47.554405,0.485247,1.060,5.870149e+06
AAA536-G10,31.655487,0.244558,0.550,2.697551e+06
AG-337-I02,30.337828,0.220176,0.405,2.095484e+06
AG-339-G14,33.715399,0.204380,0.330,1.781418e+06
...,...,...,...,...
Vibrio,41.909604,0.206679,1.180,4.803806e+06
Vicingaceae,36.172922,0.408316,0.630,2.516277e+06
Winogradskyella,33.482789,0.415061,0.890,3.568247e+06
Yoonia,54.596705,0.358001,0.860,4.369587e+06
ZODW24,57.607054,NaN,0.710,3.014321e+06

In [31]:
rates=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/gRodon/genus_doubling_rates.csv', index_col=0)
rates

                  genus  Average_doubling_time  median_doubling_time
0            AAA164-E04              12.755643             12.456005
1            AAA536-G10              10.508890             10.541393
2            AG-337-I02               9.321011              9.504926
3            AG-339-G14              10.250614             10.250614
4            AG-414-E02               9.136331              9.136331
..                  ...                    ...                   ...
211        Unclassified               4.165118              3.478185
212  Verrucomicrobiales               2.124219              2.124219
213         Vicingaceae               4.464510              4.464510
214     Winogradskyella               4.283599              4.356637
215              Yoonia               2.271783              1.606194

[216 rows x 3 columns]

In [32]:

GEN_stats=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/GTDB_GoM_SAG_classification_key.csv')
GEN_stats=GEN_stats.merge(GEN_pivot, left_on='GTDB_genus', right_on='GTDB_classification')
GEN_stats=GEN_stats.merge(rates, left_on='GTDB_genus', right_on='genus')
GEN_stats=GEN_stats.drop(columns={'genus'})

GEN_stats.to_csv(outdir+ 'Genus_statistics.csv')
GEN_stats.to_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Genus_statistics.csv')
GEN_stats

,GTDB_genus,full_GTDBtk_classification,#_of_cells,genus_size_rank,Domain,Phyla,Class,Order,Family,Genus,Species,Best_classification,Average_gc_content,Average_hypothetical_cds_fraction,median_estimated_diameter,mean_estimated_genome_length,Average_doubling_time,median_doubling_time
0,Unclassified,Unclassified,1790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unclassified,43.870487,0.561344,0.660,6.885372e+06,4.165118,3.478185
1,Pelagibacter,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,628,1.0,Bacteria,Proteobacteria,Alphaproteobacteria,Pelagibacterales,Pelagibacteraceae,Pelagibacter,NaN,Pelagibacter,29.846285,0.220466,0.300,1.464149e+06,8.115193,8.112808
2,SW10,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,326,2.0,Bacteria,Verrucomicrobiota,Verrucomicrobiae,Verrucomicrobiales,Akkermansiaceae,SW10,NaN,SW10,50.074055,0.512254,0.895,4.920788e+06,4.386646,4.062906
3,SCGC-AAA076-P13,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,178,3.0,Bacteria,Proteobacteria,Gammaproteobacteria,SAR86,D2472,SCGC-AAA076-P13,NaN,SCGC-AAA076-P13,34.074901,0.248851,0.315,1.930576e+06,8.312164,8.593175
4,D2472,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,173,4.0,Bacteria,Proteobacteria,Gammaproteobacteria,SAR86,D2472,D2472,NaN,D2472,37.613462,0.239195,0.360,2.020084e+06,9.696105,9.841434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,UBA6669,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,1,292.0,Bacteria,Verrucomicrobiota,Verrucomicrobiae,Opitutales,Opitutaceae,UBA6669,NaN,UBA6669,56.763571,0.430412,0.690,5.651669e+06,1.767563,1.767563
213,UBA721,d__Bacteria;p__Planctomycetota;c__Planctomycet...,1,294.0,Bacteria,Planctomycetota,Planctomycetes,Pirellulales,Pirellulaceae,UBA721,UBA721 sp002705165,UBA721,48.148855,0.462866,0.960,5.444938e+06,9.266202,9.266202
214,UBA7359,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,1,295.0,Bacteria,Proteobacteria,Gammaproteobacteria,UBA4486,UBA4486,UBA7359,NaN,UBA7359,37.587477,0.239183,0.590,2.259463e+06,11.276597,11.276597
215,UBA7446,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,1,296.0,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,Flavobacteriaceae,UBA7446,NaN,UBA7446,40.534629,0.323387,0.390,2.024038e+06,6.694833,6.694833
216,UBA974,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,1,299.0,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,UA16,UBA974,NaN,UBA974,40.153044,0.427273,0.520,2.418804e+06,5.094093,5.094093

In [33]:
GEN_data=pd.read_csv(outdir+ 'Genus_statistics.csv', index_col=0)

GEN_data

,GTDB_genus,full_GTDBtk_classification,#_of_cells,genus_size_rank,Domain,Phyla,Class,Order,Family,Genus,Species,Best_classification,Average_gc_content,Average_hypothetical_cds_fraction,median_estimated_diameter,mean_estimated_genome_length,Average_doubling_time,median_doubling_time
0,Unclassified,Unclassified,1790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unclassified,43.870487,0.561344,0.660,6.885372e+06,4.165118,3.478185
1,Pelagibacter,d__Bacteria;p__Proteobacteria;c__Alphaproteoba...,628,1.0,Bacteria,Proteobacteria,Alphaproteobacteria,Pelagibacterales,Pelagibacteraceae,Pelagibacter,NaN,Pelagibacter,29.846285,0.220466,0.300,1.464149e+06,8.115193,8.112808
2,SW10,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,326,2.0,Bacteria,Verrucomicrobiota,Verrucomicrobiae,Verrucomicrobiales,Akkermansiaceae,SW10,NaN,SW10,50.074055,0.512254,0.895,4.920788e+06,4.386646,4.062906
3,SCGC-AAA076-P13,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,178,3.0,Bacteria,Proteobacteria,Gammaproteobacteria,SAR86,D2472,SCGC-AAA076-P13,NaN,SCGC-AAA076-P13,34.074901,0.248851,0.315,1.930576e+06,8.312164,8.593175
4,D2472,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,173,4.0,Bacteria,Proteobacteria,Gammaproteobacteria,SAR86,D2472,D2472,NaN,D2472,37.613462,0.239195,0.360,2.020084e+06,9.696105,9.841434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,UBA6669,d__Bacteria;p__Verrucomicrobiota;c__Verrucomic...,1,292.0,Bacteria,Verrucomicrobiota,Verrucomicrobiae,Opitutales,Opitutaceae,UBA6669,NaN,UBA6669,56.763571,0.430412,0.690,5.651669e+06,1.767563,1.767563
213,UBA721,d__Bacteria;p__Planctomycetota;c__Planctomycet...,1,294.0,Bacteria,Planctomycetota,Planctomycetes,Pirellulales,Pirellulaceae,UBA721,UBA721 sp002705165,UBA721,48.148855,0.462866,0.960,5.444938e+06,9.266202,9.266202
214,UBA7359,d__Bacteria;p__Proteobacteria;c__Gammaproteoba...,1,295.0,Bacteria,Proteobacteria,Gammaproteobacteria,UBA4486,UBA4486,UBA7359,NaN,UBA7359,37.587477,0.239183,0.590,2.259463e+06,11.276597,11.276597
215,UBA7446,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,1,296.0,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,Flavobacteriaceae,UBA7446,NaN,UBA7446,40.534629,0.323387,0.390,2.024038e+06,6.694833,6.694833
216,UBA974,d__Bacteria;p__Bacteroidota;c__Bacteroidia;o__...,1,299.0,Bacteria,Bacteroidota,Bacteroidia,Flavobacteriales,UA16,UBA974,NaN,UBA974,40.153044,0.427273,0.520,2.418804e+06,5.094093,5.094093

In [34]:
master_data=master_data.merge(GEN_data, left_on='genus', right_on='GTDB_genus', how='left')

master_data=master_data.drop(['GTDB_genus'], axis=1)
master_data['date']=master_data['date'].astype(str)
master_data

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,Family,Genus,Species,Best_classification,Average_gc_content,Average_hypothetical_cds_fraction,median_estimated_diameter,mean_estimated_genome_length,Average_doubling_time,median_doubling_time
0,AAA164-E04,20171102,0.250251,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,...,AAA164-E04,AAA164-E04,NaN,AAA164-E04,47.554405,0.485247,1.06,5.870149e+06,12.755643,12.456005
1,AAA164-E04,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,AAA164-E04,AAA164-E04,NaN,AAA164-E04,47.554405,0.485247,1.06,5.870149e+06,12.755643,12.456005
2,AAA164-E04,20190402,NaN,NaN,NaN,NaN,NaN,0.280539,NaN,NaN,...,AAA164-E04,AAA164-E04,NaN,AAA164-E04,47.554405,0.485247,1.06,5.870149e+06,12.755643,12.456005
3,AAA164-E04,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,AAA164-E04,AAA164-E04,NaN,AAA164-E04,47.554405,0.485247,1.06,5.870149e+06,12.755643,12.456005
4,AAA536-G10,20171102,0.084435,NaN,NaN,NaN,NaN,0.024124,0.072373,0.060311,...,AAA536-G10,AAA536-G10,NaN,AAA536-G10,31.655487,0.244558,0.55,2.697551e+06,10.508890,10.541393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,Winogradskyella,20190709,NaN,NaN,NaN,NaN,NaN,0.066819,NaN,NaN,...,Flavobacteriaceae,Winogradskyella,NaN,Winogradskyella,33.482789,0.415061,0.89,3.568247e+06,4.283599,4.356637
660,Yoonia,20171102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rhodobacteraceae,Yoonia,NaN,Yoonia,54.596705,0.358001,0.86,4.369587e+06,2.271783,1.606194
661,Yoonia,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rhodobacteraceae,Yoonia,NaN,Yoonia,54.596705,0.358001,0.86,4.369587e+06,2.271783,1.606194
662,Yoonia,20190402,0.040045,NaN,NaN,NaN,NaN,NaN,NaN,0.024027,...,Rhodobacteraceae,Yoonia,NaN,Yoonia,54.596705,0.358001,0.86,4.369587e+06,2.271783,1.606194
663,Yoonia,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Rhodobacteraceae,Yoonia,NaN,Yoonia,54.596705,0.358001,0.86,4.369587e+06,2.271783,1.606194

In [35]:
biogeo_data=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/GoM_Summary_files/EBB_biogeochemical_measurements.csv')
biogeo_data['date']=biogeo_data['date'].astype(str)

biogeo_data

,date,SampleTime,SampleLocale,SStemp,AirTemp,SSSalinity,WeatherObs,predHiTide,windDir,windStrength,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
0,20170412,8:40,ebb,5.8,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,"It was a warm, sunny morning. Copepods were vi...",6.50,1.88E+06,1350000.0,NaN,NaN,NaN,NaN
1,20170818,9:20,ebb,15.6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.11,1.42E+06,790000.0,NaN,NaN,NaN,NaN
2,20171102,9:05,ebb,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20181030,8:20,ebb,9.5,5.7,34.0,rain previous day,15:50,NaN,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
4,20190402,8:15,ebb,3.2,3.8,32.0,NaN,10:19,NaN,1.0,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
5,20190709,8:00,ebb,12.7,17.2,31.0,NaN,5:19,NaN,1.0,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31

In [36]:
master_data=master_data.merge(biogeo_data, on='date', how='left')
master_data.to_csv(outdir+ 'Transcripts_percell_O2_percell_Genus_stats_biogeochemical_master.csv')

master_data

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
0,AAA164-E04,20171102,0.250251,NaN,NaN,NaN,0.0,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAA164-E04,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
2,AAA164-E04,20190402,NaN,NaN,NaN,NaN,NaN,0.280539,NaN,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
3,AAA164-E04,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
4,AAA536-G10,20171102,0.084435,NaN,NaN,NaN,NaN,0.024124,0.072373,0.060311,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659,Winogradskyella,20190709,NaN,NaN,NaN,NaN,NaN,0.066819,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
660,Yoonia,20171102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
661,Yoonia,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
662,Yoonia,20190402,0.040045,NaN,NaN,NaN,NaN,NaN,NaN,0.024027,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
663,Yoonia,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31

In [37]:
master_data=pd.read_csv(outdir+ 'Transcripts_percell_O2_percell_Genus_stats_biogeochemical_master.csv',
                       index_col=0)

master_data=master_data[master_data.date != 20171102]
master_data.to_csv(outdir+ 'Transcripts_percell_O2_percell_Genus_stats_biogeochemical_master_no2017.csv')
master_data

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (4510) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
1,AAA164-E04,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
2,AAA164-E04,20190402,NaN,NaN,NaN,NaN,NaN,0.280539,NaN,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
3,AAA164-E04,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
5,AAA536-G10,20181030,0.000000,NaN,NaN,NaN,NaN,0.003993,0.03194,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
6,AAA536-G10,20190402,0.100714,NaN,NaN,NaN,NaN,0.035969,NaN,0.043163,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Winogradskyella,20190402,NaN,NaN,NaN,NaN,NaN,0.029308,NaN,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
659,Winogradskyella,20190709,NaN,NaN,NaN,NaN,NaN,0.066819,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
661,Yoonia,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
662,Yoonia,20190402,0.040045,NaN,NaN,NaN,NaN,NaN,NaN,0.024027,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
663,Yoonia,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31

In [38]:
with open("/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Genera_with_10+_SAGs.txt") as file:
    tenGENs_list = [line.strip() for line in file]


tenSAG_master=master_data[master_data['genus'].isin(tenGENs_list)]

tenSAG_master.to_csv(outdir+ 'Transcripts_percell_O2_percell_10SAG_genera_stats_biogeochemical_master_no2017.csv')
tenSAG_master

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
1,AAA164-E04,20181030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
2,AAA164-E04,20190402,NaN,NaN,NaN,NaN,NaN,0.280539,NaN,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
3,AAA164-E04,20190709,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
5,AAA536-G10,20181030,0.000000,NaN,NaN,NaN,NaN,0.003993,0.031940,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
6,AAA536-G10,20190402,0.100714,NaN,NaN,NaN,NaN,0.035969,NaN,0.043163,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,UBA9926,20190402,0.035452,NaN,NaN,NaN,NaN,0.035452,0.017726,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
635,UBA9926,20190709,0.029927,NaN,NaN,NaN,NaN,NaN,0.000000,0.011971,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
641,Unclassified,20181030,0.000347,NaN,0.0,NaN,0.0,0.002429,0.000000,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
642,Unclassified,20190402,0.000000,NaN,0.0,NaN,0.0,0.006321,0.000632,0.000000,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
643,Unclassified,20190709,0.000000,NaN,0.0,NaN,0.0,0.011964,0.000000,0.000000,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31

In [39]:

with open("/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Genera_with_10+_RSG_SAGs.txt") as file:
    RSG_GENs_list = [line.strip() for line in file]


RSG_master=master_data[master_data['genus'].isin(RSG_GENs_list)]
RSG_master
RSG_master.to_csv(outdir+ 'Transcripts_percell_O2_percell_10SAG_RSG_Generastats_biogeochemical_master_no2017.csv')
RSG_master

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
5,AAA536-G10,20181030,0.000000,NaN,NaN,NaN,NaN,0.003993,0.031940,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
6,AAA536-G10,20190402,0.100714,NaN,NaN,NaN,NaN,0.035969,NaN,0.043163,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
7,AAA536-G10,20190709,0.020216,NaN,NaN,NaN,NaN,0.030323,0.010108,0.020216,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
21,ASP10-02a,20181030,0.099478,NaN,NaN,NaN,NaN,NaN,0.049739,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
22,ASP10-02a,20190402,0.030947,NaN,NaN,NaN,0.005158,NaN,0.041262,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,UBA9926,20190402,0.035452,NaN,NaN,NaN,NaN,0.035452,0.017726,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
635,UBA9926,20190709,0.029927,NaN,NaN,NaN,NaN,NaN,0.000000,0.011971,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
641,Unclassified,20181030,0.000347,NaN,0.0,NaN,0.000000,0.002429,0.000000,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
642,Unclassified,20190402,0.000000,NaN,0.0,NaN,0.000000,0.006321,0.000632,0.000000,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
643,Unclassified,20190709,0.000000,NaN,0.0,NaN,0.000000,0.011964,0.000000,0.000000,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31

In [40]:

with open("/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Genera_with_10+_RSG_SAGs.txt") as file:
    Styo9_GENs_list = [line.strip() for line in file]

Styo9_GENs_list

Syto_master=master_data[master_data['genus'].isin(Styo9_GENs_list)]

Syto_master.to_csv(outdir+ 'Transcripts_percell_O2_percell_10SAG_SYTO9_Genera_stats_biogeochemical_master_no2017.csv')
Syto_master

,genus,date,K00003,K00005,K00007,K00009,K00010,K00012,K00013,K00014,...,ChlWWug/L,PhaeoWWug/L,Comments,Bulk O2 consumption (uM),Total cells/ml,RSG+ cells per ml,NO3+NO2 (um),NO2 (um),NH4 (um),PO4 (um)
5,AAA536-G10,20181030,0.000000,NaN,NaN,NaN,NaN,0.003993,0.031940,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
6,AAA536-G10,20190402,0.100714,NaN,NaN,NaN,NaN,0.035969,NaN,0.043163,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
7,AAA536-G10,20190709,0.020216,NaN,NaN,NaN,NaN,0.030323,0.010108,0.020216,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
21,ASP10-02a,20181030,0.099478,NaN,NaN,NaN,NaN,NaN,0.049739,NaN,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
22,ASP10-02a,20190402,0.030947,NaN,NaN,NaN,0.005158,NaN,0.041262,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634,UBA9926,20190402,0.035452,NaN,NaN,NaN,NaN,0.035452,0.017726,NaN,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
635,UBA9926,20190709,0.029927,NaN,NaN,NaN,NaN,NaN,0.000000,0.011971,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31
641,Unclassified,20181030,0.000347,NaN,0.0,NaN,0.000000,0.002429,0.000000,0.000000,...,1.74,NaN,special G2P collection- not at high tide,NaN,NaN,NaN,5.61,0.28,1.05,0.81
642,Unclassified,20190402,0.000000,NaN,0.0,NaN,0.000000,0.006321,0.000632,0.000000,...,2.91,0.62,G2P collection,NaN,NaN,NaN,1.53,0.03,0.55,0.36
643,Unclassified,20190709,0.000000,NaN,0.0,NaN,0.000000,0.011964,0.000000,0.000000,...,3.06,0.97,G2P collection,NaN,NaN,NaN,0.59,0.04,1.79,0.31