In [1]:
import pandas as pd
from pandas import DataFrame
import os
import sys
import csv
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.show()
import glob
import seaborn as sns

os.chdir('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/chl_analysis/')

outdir='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/chl_analysis/'
if os.path.isdir(outdir):
    print(outdir, "already exists.")
else:
    os.mkdir(outdir)
    print(outdir, "is created.")

images='/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_images/chl_analysis'
if os.path.isdir(images):
    print(images, "already exists.")
else:
    os.mkdir(images)
    print(images, "is created.")
    
matplotlib.__version__

/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/chl_analysis/ already exists.
/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_images/chl_analysis already exists.

'3.3.3'

rerun on 2021-12-07 after correcting for salinity of media samples

In [2]:


#SAG abundance. I need to convert this to cells/ml
SAG_abundance=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Syto9_SAG_abundances.csv',
                         index_col=0)

#key to only select bacteriodetes genera
classification=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/Summary_files/Genus_statistics.csv',
                          index_col=0)
classification=classification.rename(columns={'GTDB_genus':'GTDB_classification'})
classification=classification[['Phyla', 'Family', 'GTDB_classification']]

# chlorophyl concentration
chl_concentration=pd.read_csv('G2P_DS_physical_chl_extract_20181030_20200616.csv')


classification

                 Phyla             Family GTDB_classification
0                  NaN                NaN        Unclassified
1       Proteobacteria  Pelagibacteraceae        Pelagibacter
2    Verrucomicrobiota    Akkermansiaceae                SW10
3       Proteobacteria              D2472     SCGC-AAA076-P13
4       Proteobacteria              D2472               D2472
..                 ...                ...                 ...
212  Verrucomicrobiota        Opitutaceae             UBA6669
213    Planctomycetota      Pirellulaceae              UBA721
214     Proteobacteria            UBA4486             UBA7359
215       Bacteroidota  Flavobacteriaceae             UBA7446
216       Bacteroidota               UA16              UBA974

[217 rows x 3 columns]

In [3]:
# the total number of cells/ml from Syto9 stains.
cells_1704=1545111
cells_1708=2690141
cells_1711=1550260
cells_1810=1452500
cells_1904=1642105
cells_1907=2915238

In [4]:
SAG_abundance=SAG_abundance.merge(classification, on='GTDB_classification', how='left')
Bacteriodetes=SAG_abundance[SAG_abundance['Phyla']=='Bacteroidota']

Bacteriodetes['1704_cells']=Bacteriodetes['170412_SAG_abundnance']*cells_1704
Bacteriodetes['1708_cells']=Bacteriodetes['170818_SAG_abundnance']*cells_1708
Bacteriodetes['1711_cells']=Bacteriodetes['171102_SAG_abundnance']*cells_1711
Bacteriodetes['1810_cells']=Bacteriodetes['181030_SAG_abundnance']*cells_1810
Bacteriodetes['1904_cells']=Bacteriodetes['190402_SAG_abundnance']*cells_1904
Bacteriodetes['1907_cells']=Bacteriodetes['190709_SAG_abundnance']*cells_1907

#sum up all the bacterodiota cells and put into a series
bacter_1704=Bacteriodetes['1704_cells'].sum()
bacter_1708=Bacteriodetes['1708_cells'].sum()
bacter_1711=Bacteriodetes['1711_cells'].sum()
bacter_1810=Bacteriodetes['1810_cells'].sum()
bacter_1904=Bacteriodetes['1904_cells'].sum()
bacter_1907=Bacteriodetes['1907_cells'].sum()
counts=[bacter_1704, bacter_1708, bacter_1711, bacter_1810, bacter_1904, bacter_1907]
counts

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

[354615.63934426225,
 501891.97761194035,
 220657.44525547448,
 56258.802816901414,
 259597.48161764705,
 361891.6137931035]

In [5]:
bacteriodia=pd.DataFrame()
bacteriodia['date']=[20170412, 20170818, 20171102, 20181030, 20190402, 20190709]
bacteriodia['Bacteroidia_SAGs_/ml']=pd.Series(counts)
bacteriodia['total_cells/ml']=[1545111, 2690141, 1550260, 1452500, 1642105, 2915238]

bacteriodia['%bacteriodia_SAGs']=(bacteriodia['Bacteroidia_SAGs_/ml']/bacteriodia['total_cells/ml'])*100

bacteriodia

       date  Bacteroidia_SAGs_/ml  total_cells/ml  %bacteriodia_SAGs
0  20170412         354615.639344         1545111          22.950820
1  20170818         501891.977612         2690141          18.656716
2  20171102         220657.445255         1550260          14.233577
3  20181030          56258.802817         1452500           3.873239
4  20190402         259597.481618         1642105          15.808824
5  20190709         361891.613793         2915238          12.413793

In [6]:
#metagenome based genus abundance
mg_abundance=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/GoM_Metagenome_analysis/GoM_metagenome_calculated_Genus_cells_per_ml.csv',
                        index_col=0)


mg_abundance=mg_abundance.merge(classification, left_on='genus', right_on='GTDB_classification', how='left')
mg_Bacteroidiota=mg_abundance[mg_abundance['Phyla']=='Bacteroidota']

mg_Bacteroidiota.drop(mg_Bacteroidiota.columns[[0,1,2,3,9,10,11]], axis=1, inplace=True)

mg_Bacteroidiota

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/pandas/core/frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,20171102_genome_size_normalized_metagenome_cells/ml,20181030_genome_size_normalized_metagenome_cells/ml,20190402_genome_size_normalized_metagenome_cells/ml,20190709_genome_size_normalized_metagenome_cells/ml,GTDB_genus,Phyla,Family,GTDB_classification
7,1239.648244,929.992240,7196.501067,5058.403793,Algibacter_B,Bacteroidota,Flavobacteriaceae,Algibacter_B
13,47.855594,21.108130,377.612265,158.251624,Arenitalea,Bacteroidota,Flavobacteriaceae,Arenitalea
15,331.775460,354.795462,1783.197892,630.802091,BACL11,Bacteroidota,BACL11,BACL11
17,6373.493328,2215.349793,382.968226,8171.333221,CAU-1491,Bacteroidota,Flavobacteriaceae,CAU-1491
21,901.054952,777.839163,314.368391,1099.899572,Draconibacterium,Bacteroidota,Prolixibacteraceae,Draconibacterium
23,2911.183411,1514.068364,1514.927357,17140.292617,Flavobacteriaceae,Bacteroidota,Flavobacteriaceae,Flavobacteriaceae
24,1091.358672,655.238549,26545.429480,6124.056645,Flavobacteriales,Bacteroidota,NaN,Flavobacteriales
26,4377.736718,9951.364694,2855.842509,2338.972825,GCA-002715885,Bacteroidota,BACL11,GCA-002715885
29,10404.696606,11904.622256,14774.956393,46848.107223,GCA-002733185,Bacteroidota,Flavobacteriaceae,GCA-002733185
30,11714.118999,11034.720389,1057.341950,2699.395335,GCA-2683775,Bacteroidota,BACL11,GCA-2683775
33,7709.497246,6384.435464,8189.391176,16391.053124,GCA-2705205,Bacteroidota,BACL11,GCA-2705205
41,14770.844254,3587.452088,562.540711,24418.932721,GCA-2862585,Bacteroidota,BACL11,GCA-2862585
43,20126.222248,5236.180758,49604.447870,22698.028627,HC6-5,Bacteroidota,Flavobacteriaceae,HC6-5
47,39476.159783,8134.743232,29487.624685,110140.327428,Hel1-33-131,Bacteroidota,Flavobacteriaceae,Hel1-33-131
53,5585.819777,1961.746978,32192.553572,43764.024922,MAG-120531,Bacteroidota,Flavobacteriaceae,MAG-120531
54,40494.042828,27276.776063,44412.103617,64220.503299,MAG-121220-bin8,Bacteroidota,Flavobacteriaceae,MAG-121220-bin8
57,11613.232147,21924.621626,3611.254837,11083.108750,MED-G11,Bacteroidota,Flavobacteriaceae,MED-G11
59,3931.877819,2443.910868,1440.623554,3593.159123,MED-G20,Bacteroidota,UBA10066,MED-G20
67,22297.276766,28149.624080,26010.320648,117522.453625,MS024-2A,Bacteroidota,Flavobacteriaceae,MS024-2A
77,644.932968,489.568379,498.853369,1273.975848,Oceanihabitans,Bacteroidota,Flavobacteriaceae,Oceanihabitans
87,19405.613395,6850.855239,82706.090762,24921.990701,Polaribacter,Bacteroidota,Flavobacteriaceae,Polaribacter
99,51749.983430,10320.263884,39072.674627,33496.544357,SCGC-AAA160-P02,Bacteroidota,Flavobacteriaceae,SCGC-AAA160-P02
100,6764.729959,6680.955955,9034.019731,24375.961564,SGZJ01,Bacteroidota,Flavobacteriaceae,SGZJ01
101,1765.046773,583.551673,7418.052040,8856.839319,SHAN690,Bacteroidota,Salibacteraceae,SHAN690
102,2298.444151,1001.073412,591.732566,2163.168462,SHLJ01,Bacteroidota,Flavobacteriaceae,SHLJ01
106,9497.125225,1540.351476,588.488325,5941.879467,Saprospiraceae,Bacteroidota,Saprospiraceae,Saprospiraceae
111,2456.833679,1209.183772,755.037273,1792.042886,TMED14,Bacteroidota,Schleiferiaceae,TMED14
120,5468.975655,4745.435035,3154.985396,22562.578613,UA16,Bacteroidota,UA16,UA16
121,990.768952,1142.248993,1587.956207,1633.462441,UBA10066,Bacteroidota,UBA10066,UBA10066
123,94388.593735,33862.032475,21167.148599,66243.381413,UBA10364,Bacteroidota,Schleiferiaceae,UBA10364
128,414.368557,290.540159,3209.734542,2671.473137,UBA1494_A,Bacteroidota,Vicingaceae,UBA1494_A
130,4056.515888,3660.774099,19333.494521,19710.912075,UBA1994,Bacteroidota,Saprospiraceae,UBA1994
132,3680.131104,337.939525,2403.607008,5472.444798,UBA2040,Bacteroidota,Crocinitomicaceae,UBA2040
135,24086.687571,5096.303701,957.756971,3615.501933,UBA3537,Bacteroidota,Flavobacteriaceae,UBA3537
138,1402.124813,1088.868178,4163.095080,9911.267457,UBA4465,Bacteroidota,Cyclobacteriaceae,UBA4465
139,10457.083185,5466.624043,2222.177674,6351.701753,UBA4466,Bacteroidota,Crocinitomicaceae,UBA4466
144,39.905782,28.974125,599.622797,258.144691,UBA5081,Bacteroidota,Vicingaceae,UBA5081
148,626.475395,441.708463,3638.104507,4682.264285,UBA6770,Bacteroidota,Salibacteraceae,UBA6770
149,5541.212999,1058.629467,354.660980,22957.855570,UBA6772,Bacteroidota,UBA7430,UBA6772
151,6387.381527,6197.961828,32157.296347,30029.479893,UBA7428,Bacteroidota,Flavobacteriaceae,UBA7428
153,4044.810290,1513.372196,258.132811,9541.571044,UBA7446,Bacteroidota,Flavobacteriaceae,UBA7446
155,1458.964761,1143.487470,471.985362,2837.319475,UBA8649,Bacteroidota,UBA8649,UBA8649
157,6049.470093,5162.531523,1435.762156,6910.478572,UBA8752,Bacteroidota,UA16,UBA8752
159,13409.057749,8128.707187,19802.265579,29968.324489,UBA9320,Bacteroidota,UBA9320,UBA9320
160,39011.370769,11375.261535,2050.601756,27640.238175,UBA952,Bacteroidota,Crocinitomicaceae,UBA952
163,971.795010,556.462544,2183.668184,6466.719145,Ulvibacter,Bacteroidota,Flavobacteriaceae,Ulvibacter
167,782.480532,470.155212,7151.270318,5084.185705,Vicingaceae,Bacteroidota,Vicingaceae,Vicingaceae
168,4635.264065,2001.192608,10605.994111,10722.976925,Winogradskyella,Bacteroidota,Flavobacteriaceae,Winogradskyella

In [7]:
mg_1711=mg_Bacteroidiota['20171102_genome_size_normalized_metagenome_cells/ml'].sum()
mg_1810=mg_Bacteroidiota['20181030_genome_size_normalized_metagenome_cells/ml'].sum()
mg_1904=mg_Bacteroidiota['20190402_genome_size_normalized_metagenome_cells/ml'].sum()
mg_1907=mg_Bacteroidiota['20190709_genome_size_normalized_metagenome_cells/ml'].sum()
mg_counts=[mg_1711, mg_1810, mg_1904, mg_1907]

mg_bacteriodia=pd.DataFrame()
mg_bacteriodia['date']=[20171102, 20181030, 20190402, 20190709]
mg_bacteriodia['mg_bacteroidia_cells/ml']=pd.Series(mg_counts)
mg_bacteriodia

       date  mg_bacteroidia_cells/ml
0  20171102            527884.042865
1  20181030            266903.604355
2  20190402            531888.275799
3  20190709            902195.790759

In [8]:
bacteriodia=bacteriodia.merge(mg_bacteriodia, on='date', how='left')
bacteriodia['%mg_bacteroidia_cells/ml']=(bacteriodia['mg_bacteroidia_cells/ml']/bacteriodia['total_cells/ml'])*100
bacteriodia

,date,Bacteroidia_SAGs_/ml,total_cells/ml,%bacteriodia_SAGs,mg_bacteroidia_cells/ml,%mg_bacteroidia_cells/ml
0,20170412,354615.639344,1545111,22.950820,NaN,NaN
1,20170818,501891.977612,2690141,18.656716,NaN,NaN
2,20171102,220657.445255,1550260,14.233577,527884.042865,34.051323
3,20181030,56258.802817,1452500,3.873239,266903.604355,18.375463
4,20190402,259597.481618,1642105,15.808824,531888.275799,32.390637
5,20190709,361891.613793,2915238,12.413793,902195.790759,30.947586

In [9]:

chl_concentration['SampleDate']=chl_concentration['SampleDate'].str.replace("-", '')
chl=chl_concentration[['SampleDate', 'ChlWWug/L', 'SampleLocale']].copy()
chl=chl.rename(columns={'SampleDate':'date'})
chl

bacteriodia['date']=bacteriodia['date'].astype(str)
bacteriodia=bacteriodia.merge(chl, on='date', how='outer')
bacteriodia['SampleLocale'].fillna('ebb', inplace=True)
bacteriodia.sort_values(by='date', inplace=True)

bacteriodia=bacteriodia.dropna(axis=0, thresh=3)
bacteriodia=bacteriodia.sort_values(by='date')
bacteriodia

,date,Bacteroidia_SAGs_/ml,total_cells/ml,%bacteriodia_SAGs,mg_bacteroidia_cells/ml,%mg_bacteroidia_cells/ml,ChlWWug/L,SampleLocale
0,20170412,354615.639344,1545111.0,22.950820,NaN,NaN,NaN,ebb
1,20170818,501891.977612,2690141.0,18.656716,NaN,NaN,NaN,ebb
2,20171102,220657.445255,1550260.0,14.233577,527884.042865,34.051323,NaN,ebb
9,20180219,NaN,NaN,NaN,NaN,NaN,0.75,bbh
3,20181030,56258.802817,1452500.0,3.873239,266903.604355,18.375463,1.74,ebb
6,20181205,NaN,NaN,NaN,NaN,NaN,1.84,bbh
7,20181221,NaN,NaN,NaN,NaN,NaN,1.87,bbh
8,20190205,NaN,NaN,NaN,NaN,NaN,0.46,bbh
10,20190319,NaN,NaN,NaN,NaN,NaN,0.72,bbh
4,20190402,259597.481618,1642105.0,15.808824,531888.275799,32.390637,2.91,ebb
11,20190404,NaN,NaN,NaN,NaN,NaN,7.23,bbh
12,20190419,NaN,NaN,NaN,NaN,NaN,1.49,bbh
13,20190501,NaN,NaN,NaN,NaN,NaN,1.02,bbh
14,20190509,NaN,NaN,NaN,NaN,NaN,2.46,bbh
15,20190530,NaN,NaN,NaN,NaN,NaN,2.50,bbh
16,20190604,NaN,NaN,NaN,NaN,NaN,1.48,bbh
17,20190613,NaN,NaN,NaN,NaN,NaN,1.73,bbh
19,20190621,NaN,NaN,NaN,NaN,NaN,3.00,ebb
18,20190621,NaN,NaN,NaN,NaN,NaN,5.37,bbh
20,20190701,NaN,NaN,NaN,NaN,NaN,6.49,bbh
5,20190709,361891.613793,2915238.0,12.413793,902195.790759,30.947586,3.06,ebb
21,20190715,NaN,NaN,NaN,NaN,NaN,2.41,bbh
22,20190730,NaN,NaN,NaN,NaN,NaN,3.59,bbh
23,20190805,NaN,NaN,NaN,NaN,NaN,7.13,bbh
24,20190813,NaN,NaN,NaN,NaN,NaN,3.76,bbh
25,20190819,NaN,NaN,NaN,NaN,NaN,5.40,bbh
26,20190911,NaN,NaN,NaN,NaN,NaN,6.09,bbh
27,20190924,NaN,NaN,NaN,NaN,NaN,5.36,bbh
28,20191009,NaN,NaN,NaN,NaN,NaN,9.82,bbh
29,20191015,NaN,NaN,NaN,NaN,NaN,6.26,bbh
30,20191107,NaN,NaN,NaN,NaN,NaN,9.43,bbh
31,20191113,NaN,NaN,NaN,NaN,NaN,4.01,bbh
32,20191125,NaN,NaN,NaN,NaN,NaN,1.43,bbh
33,20191212,NaN,NaN,NaN,NaN,NaN,0.60,bbh
37,20200227,NaN,NaN,NaN,NaN,NaN,3.33,bbh
38,20200310,NaN,NaN,NaN,NaN,NaN,4.71,bbh
39,20200407,NaN,NaN,NaN,NaN,NaN,0.61,bbh
40,20200422,NaN,NaN,NaN,NaN,NaN,2.03,bbh
41,20200505,NaN,NaN,NaN,NaN,NaN,1.23,bbh
42,20200520,NaN,NaN,NaN,NaN,NaN,2.72,bbh
43,20200616,NaN,NaN,NaN,NaN,NaN,1.72,bbh

In [10]:
df=pd.read_csv('/mnt/scgc/simon/microg2p/analyses/20210325_GoM_recluster/20210325_GoM_recluster_analysis/chl_analysis/DS_chl_measurements.csv')

df[['month', 'day', 'year']] = df.DATE.str.split('/', expand = True)
df['year']=pd.to_numeric(df['year'])+2000
df['year']=df['year'].astype(str)
# add a zero befor the days and months that are a single digit
df['day'] = df['day'].apply(lambda x: x.zfill(2))
df['month'] = df['month'].apply(lambda x: x.zfill(2))

df['date']=df['year']+df['month']+df['day']

df=df.rename(columns={'WW Mean':'ChlWWug/L'})
df=df.drop(columns=['DATE', 'month', 'day', 'year'])
df
#print(df.dtypes)

     ChlWWug/L      date
0         0.99  20081231
1         0.92  20090109
2         1.57  20090114
3         1.61  20090123
4         1.49  20090129
..         ...       ...
418       6.55  20180723
419       2.70  20180828
420       6.30  20181009
421       1.67  20181205
422       1.53  20181221

[423 rows x 2 columns]

In [11]:
chl=pd.concat([bacteriodia, df])
chl['year']=chl['date'].str[:4]
chl['month']=chl['date'].str[5:6]
chl['day']=chl['date'].str[6:]
chl['date']=chl['date'].astype(int)
chl=chl[chl['date']>=20170000]
chl=chl[chl['date']<=20200000]
chl['SampleLocale'].fillna('bbh', inplace=True)


chl=chl.sort_values(by='date')
chl.to_csv(outdir+'2017_2019_chla_measurements.csv')
chl=chl.drop(columns=['total_cells/ml',  'year', 'month', 'day'])
chl=chl.rename(columns={'Bacteroidia_SAGs_/ml':'SAG_per_ml', 'mg_bacteroidia_cells/ml': 'mg_per_ml', 'ChlWWug/L':'ChlWW',
                        '%mg_bacteroidia_cells/ml':'perc_mg_bacteroidia', '%bacteriodia_SAGs':'perc_SAGs_bacteroidia'})
chl.to_csv(outdir+'2017_2019_chla_measurements.tsv', sep = '\t', index=False)
chl

,date,SAG_per_ml,perc_SAGs_bacteroidia,mg_per_ml,perc_mg_bacteroidia,ChlWW,SampleLocale
382,20170110,NaN,NaN,NaN,NaN,1.14,bbh
383,20170117,NaN,NaN,NaN,NaN,0.85,bbh
384,20170126,NaN,NaN,NaN,NaN,0.71,bbh
386,20170309,NaN,NaN,NaN,NaN,0.47,bbh
387,20170317,NaN,NaN,NaN,NaN,1.77,bbh
...,...,...,...,...,...,...,...
29,20191015,NaN,NaN,NaN,NaN,6.26,bbh
30,20191107,NaN,NaN,NaN,NaN,9.43,bbh
31,20191113,NaN,NaN,NaN,NaN,4.01,bbh
32,20191125,NaN,NaN,NaN,NaN,1.43,bbh
33,20191212,NaN,NaN,NaN,NaN,0.60,bbh

### I might need to add a column where I calculate the number of RSG bacteriodeta cells to supplement this analysis.

In [12]:
Flavobacteraceae=SAG_abundance[SAG_abundance['Family']=='Flavobacteriaceae']

Flavobacteraceae['1704_cells']=Flavobacteraceae['170412_SAG_abundnance']*cells_1704
Flavobacteraceae['1708_cells']=Flavobacteraceae['170818_SAG_abundnance']*cells_1708
Flavobacteraceae['1711_cells']=Flavobacteraceae['171102_SAG_abundnance']*cells_1711
Flavobacteraceae['1810_cells']=Flavobacteraceae['181030_SAG_abundnance']*cells_1810
Flavobacteraceae['1904_cells']=Flavobacteraceae['190402_SAG_abundnance']*cells_1904
Flavobacteraceae['1907_cells']=Flavobacteraceae['190709_SAG_abundnance']*cells_1907

#sum up all the bacterodiota cells and put into a series
flavo_1704=Flavobacteraceae['1704_cells'].sum()
flavo_1708=Flavobacteraceae['1708_cells'].sum()
flavo_1711=Flavobacteraceae['1711_cells'].sum()
flavo_1810=Flavobacteraceae['1810_cells'].sum()
flavo_1904=Flavobacteraceae['1904_cells'].sum()
flavo_1907=Flavobacteraceae['1907_cells'].sum()
counts=[flavo_1704, flavo_1708, flavo_1711, flavo_1810, flavo_1904, flavo_1907]
counts

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/mnt/scgc/scgc_nfs/opt/common/anaconda3a/envs/jacob_env/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

[215302.35245901637,
 271021.6679104478,
 164078.6131386861,
 46029.92957746479,
 193188.82352941178,
 241261.07586206892]

In [13]:
Flavo=pd.DataFrame()
Flavo['date']=[20170412, 20170818, 20171102, 20181030, 20190402, 20190709]
Flavo['SAG_cells/ml']=pd.Series(counts)
Flavo['total_cells/ml']=[1545111, 2690141, 1550260, 1452500, 1642105, 2915238]

Flavo['%Flavo']=(Flavo['SAG_cells/ml']/Flavo['total_cells/ml'])*100

Flavo

       date   SAG_cells/ml  total_cells/ml     %Flavo
0  20170412  215302.352459         1545111  13.934426
1  20170818  271021.667910         2690141  10.074627
2  20171102  164078.613139         1550260  10.583942
3  20181030   46029.929577         1452500   3.169014
4  20190402  193188.823529         1642105  11.764706
5  20190709  241261.075862         2915238   8.275862